<br/>
<hr/>

   <i> Цветовая расшифровка:</i>

<ul>
    <li style="color: #6600FF">мужчина</li>
    <li style="color: red">нет номера телефона</li>
    <li style="background-color: whitesmoke">выбыл из школы</li>

</ul>
