@{
    ViewBag.Title = "Помощь";
}

<h2>Помощь</h2>
<p>Добро пожаловать в раздел помощи. Он только наполянется и содержит краткую информацию по работе нашего внутреннего сайта. Все данные отображается только для групп, с которыми Вы работаете. Никогда никому не сообщайте свои учетные данные от этого сайта!</p>
<p>&nbsp;</p>
<p><strong>Раздел "ОПЛАТА"</strong></p>
<p>С помощью раздела "оплата" вы сможете</p>
<ol>
<li>Вносить оплату по нашим клиентам</li>
<li>Просматривать текущую оплату в разрезе месяцев, групп или по конкретному человеку</li>
<li>Просматривать оплату в развернутом виде (как в графиках оплаты, которые ведутся на занятиях)</li>
<li>Распечатывать списки по оплате</li>

</ol>
<p><span style="text-decoration: underline;">Важно</span></p>
<ul>
<li>Оплату необходимо внести в течении 24 часов после занятия.</li>
<li>Стало возможным редактировать и удалять оплату  «день в день». Т.е. если вы внесли оплату сегодня за вчерашний день, то эту запись можно будет удалить или отредактировать только в течение сегодняшнего дня. <br/><br/>Для дальнейшей корректировки необходимо написать на email <a href="mailto:volgvam@gmail.com" title="адрес службы поддержки пользователей">volgvam@gmail.com</a> с указанием даты, ФИО, суммы, а также с объяснением причины корректировки записи.<br/><br/></li>
<li>Данные по оплате в отчетах отображаются за последние 3 месяца.</li>
<li>Чтобы посмотреть развернутый отчет, выберите сначала группу, месяц и ОБЯЗАТЕЛЬНО нажмите на кнопку "Фильтр", после этого нажмите на ссылку "Развернутый отчет".</li>
<li>Чтобы распечатать "список оплаты", выберите сначала группу и ОБЯЗАТЕЛЬНО нажмите на кнопку "Фильтр", после этого нажмите на ссылку "Печать Анкета участника школы".</li>
<li>Из страницы "Детали оплаты" мы сможете сразу попасть в карточку клиента, по одноименной ссылке внизу.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><strong>Раздел "</strong>СПИСКИ ЛЮДЕЙ"</strong></p>
<p>В этом разделе находится информация по нашим клиентам. В него включены</p>
<ol>
<li>Списки людей, которые ходят в ваши группы</li>
<li>Списки людей, у которых нет телефонов</li>
<li>на странице "карточка клиента" выводится вся информация по оплате этого человека за весь период</li>
<li>на странице "карточка клиента" можно вносить заметки, с возможностью планированирования. Запланированная заметка будет выводится на главной странице (по примеру дней рождений)</li>
<li>Печатать анкеты участника школы</li>
</ol>
<div><span style="text-decoration: underline;">Важно</span><br/>
<ul>
<li style="color: red">Тренерам: если человек, без предупреждения пропускает занятия более 2-х раз, необходимо позвонить ему и указать причину пропусков в "карточке клиента" в разделе заметок.</li>
<li>Доступ к телефонам закрыт, так как считается личными данными наших клиентов</li>
</ul>
</div>
<div></div>
<p>При возникновении каких-либо затруднений звоните по телефону: +7(937)552-5-552</p>
<p></p>