

@{
    ViewBag.Title = "Новости";
}
            <div class="notes" id="notes">
                @Html.Action("NotesListIndex", "People")
                <br/><br/>
            </div>

            <div class="birthday" id="birthday">
                @Html.Action("Birthday", "Home")
            </div>

<div id="article">

<h2>@ViewBag.Message</h2>


<p>
    Мы рады сообщить об открытии внутреннего сайта нашей школы. Теперь не нужно заполнять отчет в Excel, не нужно быть привязанным к одному компьютеру, все можно будет сделать в одном месте, на этом сайте, нужен лишь интернет.
</p>
<p>    
    Этот сервис будет обрастать новыми функциями и различными сервисами, для того чтобы удобнее и оперативнее заполнять и получать необходимую информацию по нашим любимым клиентам. Внешнему виду сайта уделено минимум внимания.   
</p>
@*
<i>Задачи:</i>
<ul>
<li style="color: red">Срочно заполните ВСЕ размеры футболок. Если человек находится в списке, удалите его и добавьте снова, но уже с его размером.</li>
</ul>

<i>Акция:</i>
<ul>
<li><span style="color: red"> Внимание, акция! Только с 1 по 10 марта и только для Вас, при покупке абонемента скидка 50% (!!!) с возможностью выбора преподавателя!
  Вас ждут много танцев и новых друзей, а также интересные вечеринки и отдых.</span> Такую смс получили все наши парни, которые не ходят более 1.5 месяцев. Акция только для них.</li>
</ul>

<i>Последние изминения:</i>
<ul>
<li style="color: red"> На странице "Списки людей" появилась ссылка "Переставшие ходить". По данной ссылке можно увидеть в разрезе групп и времени списки людей, которые перестали ходить к нам на занятия.</li>
</ul>
*@
<i>На данный момент, согласно Вашему уровню доступа, с помощью этого ресурса Вы можете:</i>
<ul>
<li>Вносить анкетные данные новых клиентов</li>
<li>Вносить оплату</li>
<li>Просматривать информацию по оплате</li>
<li>Выводить список людей, у кого нет телефонов</li>
<li>Просматривать дни рождения учеников</li>
<li>Создавать и изменять мероприятия. Так-же эти данные выводятся и на странице "карточка клиента"</li>
<li>На странице "карточка клиента" выводить вся информацию по оплате этого человека, в каких мероприятиях он учавстовал. Можно создавать заметки с возможностью планированирования. Запланированная заметка будет выводится на главной странице (по примеру дней рождений)</li>
<li>Распечатывать списки оплаты</li>
<li>Печать анкеты участника школы</li>
</ul>
 
<p>
<i>Из того, что планируется сделать в ближайщее время:</i>
<ul>
<li>ввести учет посещаемости (аналог бумажного листа)</li>
<li>предоставить доступ ученикоам нашей школы с целью просмотра информации по их посещаемости и оплате</li>
</ul>
</p>
<p>
Надеемся Вам понравится наш новый сервис.
</p>
    <p>
        --------<br/>
        С уважением,<br/>
        администрация ООО "Клуб Танцев"
    </p>

</div>

