<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://volgvam1-2.hosting.parking.ru/</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>web27.corp.parking.ru</MSDeployServiceURL>
    <DeployIisAppPath>volgvam1-2.hosting.parking.ru</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>parking\volgvam1-1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Cuatro_Caminos_BDEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql08-8-rus.corp.parking.ru;Initial Catalog=volgvam1_6;User ID=volgvam1_6;Password=zMN|k`bhxX" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Cuatro_Caminos_BD.mdf;Integrated Security=True;Application Name=EntityFramework;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Cuatro_Caminos_BDEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;integrated security=SSPI;attachdbfilename=|DataDirectory|Cuatro_Caminos_BD.mdf;user instance=true;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="2" Enabled="False">
          <Destination Path="Data Source=sql08-8-rus.corp.parking.ru;Initial Catalog=volgvam1_6;User ID=volgvam1_6;Password=zMN|k`bhxX" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQLEXPRESS;integrated security=SSPI;attachdbfilename=|DataDirectory|aspnetdb.mdf;user instance=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Cuatro_Caminos_BD" Order="3" Enabled="False">
          <Destination Path="Data Source=sql08-8-rus.corp.parking.ru;Initial Catalog=volgvam1_6;User ID=volgvam1_6;Password=zMN|k`bhxX" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=Cuatro_Caminos_BD;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Cuatro_Caminos_BD_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Trusted_Connection=True;Server=.\sqlexpress;Database=Cuatro_Caminos_BD" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=sql08-8-rus.corp.parking.ru;Initial Catalog=volgvam1_6;User ID=volgvam1_6;Password=zMN|k`bhxX</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Cuatro_Caminos_BD-Web.config Connection String">
      <ParameterValue>Data Source=sql08-8-rus.corp.parking.ru;Initial Catalog=volgvam1_6;User ID=volgvam1_6;Password=zMN|k`bhxX</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Cuatro_Caminos_BDEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=sql08-8-rus.corp.parking.ru;initial catalog=volgvam1_6;user id=volgvam1_6;password=zMN|k`bhxX;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>